*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    margin-bottom: 100px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    margin-right: 70px;
}
.header-menu__list {
    display: flex;
}
.header-menu__list-item + .header-menu__list-item {
    padding-left: 10px;
}
.header-menu__list-link {
    text-transform: uppercase;
    padding: 43px 20px;
    transition: all .3s ease-in-out;
}
.header-menu__list-link:hover {
    background-color: #131313;
    color: #fff;
}
.header-menu__list-link_last {
    background-color: #131313;
    color: #fff;
}

.bike {
    padding-bottom: 150px;
}
.bike__wrapper {
    display: flex;
    justify-content: space-between;
}
.bike-column_slider {
    flex-basis: 630px;
    max-width: 630px;
    margin-left: 30px;
}
.bike-column__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 60px 0 5px;
}
.bike-column__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
    margin: 0 0 60px;
}
.bike-column__text {
    max-width: 420px;
    margin-bottom: 20px;
}
.bike-column__link {
    display: inline-block;
    margin-top: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    padding: 28px 81px;
    color: #FFFFFF;
    background-color: #131313;
    transition: all .3s;
}
.bike-column__link:hover {
    background-color: #FF4040;
}

.bike__slider {
    margin-bottom: 25px;
}
.bike__slider .slick-dots {
    right: 0;
    top: 52px;
}
.slick-dots {
    position: absolute;
}
.slick-dots li + li {
    padding-top: 10px;
}
.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}
.slick-active button,
.slick-dots button:hover {
    background-color: #FF4040;
}

.bike__list {
    display: flex;
    justify-content: space-around;
}
.bike__list-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    min-width: 160px;
    text-align: center;
}
.bike__list-item span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
}

.inform {
    padding-bottom: 150px;
}
.inform__wrapper {
    display: flex;
}
.inform__img {
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover;
}
.inform__list {
    flex-basis: 490px;
}
.inform-item + .inform-item {
    padding-top: 50px;
}
.inform-item__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.inform-item__text {
    max-width: 450px;
}